
.container .reachy-header {
    margin-right: 1rem;
    margin-left: 1rem;
}

.reachy-header .list-group-item {
    background-color: transparent;
    border: 0px;
    border-radius: 0;
}

.reachy-nav {
    /* border-bottom: solid 1px;
    border-color: grey; */
    /* box-shadow: 0 4px 2px -2px lightgrey; */
}
.reachy-nav .container{
    height: 70px;
}

@media screen and (max-width: 768px) and (min-width: 481px){
    .reachy-nav .container{
        height: 40px;
    }
}


.reachy-nav a:hover{
    color:#5AADAA;
}

.reachy-nav .nav-link{
    color: black;
    padding: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
    margin: 0px 10px 0px 10px;
    text-transform: uppercase;
}

.reachy-nav .btn{
    font-weight: 600;
    border-color: #fff;
    color: #fff;
    background-color: #77BBB9;
}

.reachy-nav a:hover.btn{
    color: white;
    background-color: #5AADAA;
    border-color: #5AADAA;
}


.reachy-nav .nav-link.active{
    background-color:unset;
    color: #5AADAA;
    border-bottom: solid;
    border-radius: 0px;
    border-width: 0px 0px 3px 0px;
}

.reachy-cards .card{
    border: 0px;
    margin: 0px;
    background-color: transparent;
}

.reachy-cards .card pre{
    margin: 0px;
}

@media screen and (max-width: 601px) {
    .reachy-cards .card{
        margin-bottom: 40px;
    }
}

.reachy-cards .card-body{
 padding: 10px;
}

.reachy-cards .card-title{
    padding-top: 20px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.reachy-cards .card-title i{
    font-size: 2rem;
}

.reachy-cards .card-text{
    padding-top: 10px;
    font-weight: 300;
    font-size: 1em;
    line-height: 150%;
}

.reachy-cards .card-footer{
    border: 0px;
    background-color: transparent;
    padding: 10px;
    font-weight: 300;
    font-size: 1em;
    line-height: 150%;
}

.reachy-cards .card-footer .btn-link{
    font-size: 1.1em;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: solid;
    border-radius: 0px;
    border-width: 0px 0px 2px 0px;
    padding: 0px;
}


.reachy-cards.reachy-domain .card-footer .btn-link{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0px;
    border-width: 0px 0px 0px 0px;
    padding: 0px;
}

.reachy-cards.reachy-domain i{
    margin-right: 10px;
}

.modal-title i{
    margin-right: 10px;   
}


.reachy-simulator-section{
    background-color: #396581;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 70px!important;
    margin-bottom: 70px!important;
}
