
<div class="row">
    <div class="col-md-6">
        <img src="https://images.ladbible.com/thumbnail?type=jpeg&url=http://20.theladbiblegroup.com/s3/content/6be50ed15a2ac27a8dcd16ad7dcff85c.png&quality=70&width=720" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
        <div class="card-body">
            <h5 class="card-title">{{.Title}}</h5>
            <p class="card-text">{{.Params.descripion}}</p>
            
            <button type="button" class="btn btn-primary btn-lg">select advanced version +1500€</button>
        </div>
    </div>
</div>





