<!-- Take a list of product page URL -->

{{ $Site := .Site }}
{{ $products := .Scratch.Get "product_list" }}

{{range $products }}
    {{ with $Site.GetPage "page" . }}
    <div class="col mb-4">
        <div class="card h-100"> 
            <img src="{{.Params.featured_images}}" class="card-img-top bg-pollen-{{.Params.color_scheme}}" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{.Title}}</h5>
    
                <p class="card-text"><em>{{.Params.description}}</em></p>
            </div>
            <div class="card-footer bg-white">
                <a name="" id="" class="btn btn-block btn-outline-primary" href="{{.Permalink}}" role="button"> Discover</a>
            </div>
        </div>
    </div>
    {{end}}
{{end}}






