{{define "header"}}

<div class="bg-pollen-{{.Params.color_scheme}}" >
    <div class="container container-lg" >
        <div class="row">
            <div class="col-sm">
                <img src="{{.Params.featured_images}}" class="img-fluid" alt="">
              </div>
            
            <div class="col-sm">
                <h1>{{ .Title }}</h1>
                <p class="lead"> {{ .Params.description }} </p>
                
                <p class="lead"><b>{{ .Params.price }} Tax Excl</b></p>
                <hr />
                {{ .Content }}
                
                <hr />
                
          <button type="button" class="btn btn-lg btn-light" data-toggle="modal" data-target="#orderform-{{.Params.product_reference}}" data-pack="{{.Params.product_reference}}"> Get a quote </button>           
                
            </div>
        </div>
    </div>
</div>
{{ partial "popup_order_form.html" .}}
{{end}}

{{ define "main" }}

<div id="package-page">

        <div class="container-fluid">
            <h2>What's inside</h2>
            <p class="lead text-center">The {{.Title}} include the following modules and accessories</p>
            
            <div class="row row-cols-2 row-cols-md-6 justify-content-center">

                {{.Scratch.Set "product_list" .Params.included_products }}
                {{ partial "product_grid.html" .}}
            </div>
            
        </div>
    
    
    <div id="advanced" class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h2>Options & Accessories</h2>
                <p class="lead text-center">add stuff</p>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-10">
                {{.Scratch.Set "product_url" "reachy/modules/bioinspired-arm.md"}} 
                {{ partial "product_highlight.html" .}}
            </div>
            </div>
        </div>
    </div>


    <div id="technical" class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h2>Technical information</h2>
                <p class="lead text-center">Boring but useful stuff</p>
            </div>
        </div>     
        
        {{.Scratch.Set "technical" .Params.technical}}
       {{partial "technical_info.html" .}}
          
    </div>
    
</div>
    
    {{ end }}