{{ define "header" }}

<div id="product-page" class="bg-pollen-{{.Params.color_scheme}}" >
  
  <div class="container">
    
    <div class="row justify-content-end">
      
      <div class="col-6">
        <img src="{{.Params.featured_images}}" class="img-fluid" alt="">
        
      </div>
      
      <div class="col-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Reachy</a></li>
            <li class="breadcrumb-item"><a href="#">Modules</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
        <h1>{{ .Params.Title }}</h1>
        <p class="lead"> {{ .Params.tag_line }} </p>
        
        <p class="lead"><b>{{ .Params.price }} Tax Excl</b></p>
        <hr />
        
        
        <hr />
        
<button type="button" class="btn btn-lg btn-light" data-toggle="modal" data-target="#orderform-{{.Params.product_reference}}" data-pack="{{.Params.product_reference}}"> Get a quote </button>           
        
      </div>
    </div>
    
  </div>
</div>

{{ partial "popup_order_form.html" .}}

{{ end }}

{{ define "main" }}

<div id="product-page">
  
  <div class="container">
    
    <div class="row justify-content-center">
      <div class="col-md-8">
        {{ .Content }}
      </div>
      
    </div>
    
  </div>

  <div id="technical" class="container">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h2>Technical information</h2>
            <p class="lead text-center">Boring but useful stuff</p>
        </div>
    </div>     
    
      {{.Scratch.Set "technical" .Params.technical}}
      {{partial "technical_info.html" .}}

    <div class="row">
      <div class="col">
        <i class="far fa-file-alt"> yo</i>
        <i class="fas fa-cogs">access hardware</i>

      </div>
    </div>
      
  </div>

  
</div>



{{ if isset .Params "related_product_pages" }}

  <div id="related" class="bg-light">
    <div class="container">
      <h2>Related Product</h2>
      
      <div class="row row-cols-2 row-cols-md-4">
        
        {{ .Scratch.Set "product_list" .Params.related_product_pages }}
        {{ partial "product_grid.html" .}}
        
      </div>
      
    </div>
  </div>
{{ end }}

{{ end }}

{{ define "custom-scripts" }}
  {{partial "popup_order_form_custom_script.html" .}}
{{ end }}