{{ define "header"}}
<div class="container reachy-header">
  <!-- <div class="d-none d-md-block">
      <div class="row justify-content-end px-0 mx-0">
          <ul class="list-group list-group-horizontal social">
              {{ range .Site.Data.social.item }}                
              <li class="list-group-item border-0 p-0 mb-2">
                  <a href="{{.url}}" target="_blank" ><i class="fab fa-{{.site}} icon-social-black {{.site}}"></i></a>
              </li>
              {{ end }}
          </ul>
      </div>
  </div> -->

  
  <div class="row">
      <div class="col-lg-8">
          <h1>This is Reachy. He’s pretty unique.</h1>
          <p class="lead">Reachy is an expressive open source humanoid robot. It’’s particularly good at interacting with people and manipulating objects.
          </p>
      </div>
  </div>
  
  <div class="row justify-content-center">
      <div class="col-lg-10">
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="img-fluid mx-auto shadow">
            <source src="{{ "video/reachyflowers.mp4" | relURL }}" type="video/mp4">
              </video>
          </div>
      </div>
  </div>
</div>

{{ end }}

{{ define "subnav"}}

<nav id="second-navbar" class="navbar sticky-top navbar-expand-lg bg-white reachy-nav">
    <div class="container justify-content-center">
        <ul class="nav nav-pills">
            <li class="nav-item"> <a class="nav-link" href="#discover">What's Reachy</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#modules">Modules</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#pack">Packages</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#documentation">Documentation</a> </li>
        </ul>
    </div>
</nav>

{{ end }}

{{ define "main" }}

<div id="discover" class="anchor">
</div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 text-center"> <p class="lead">Reachy uses prepackaged AI, image and voice recognition and modular robotics to interact with the world around him. No need to train up the machine learning component: jump straight into any desired application and start prototyping. </p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row justify-content-between">
      <div class="col-6">
        <h2>Now that’s a cute head</h2>
        <p>Reachy has a free-moving head animated by in-house developed Orbita© technology and antennas to convey emotions to its audience (happy, sad, excited...). It mimics human expressions and body language in its own unique way: we guarantee Reachy will make you smile!</p>
      </div>

      <div class="col-6">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="img-fluid mx-auto">
          <source src="/video/headmotion.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-pollen-dark-blue">
    <div class="row justify-content-between">
      <div class="col-6">
        <img class="img-fluid mx-auto" src="/img/reachy/arm.jpg"
        alt="Arm">
      </div>

      <div class="col-6">
        <h2>And some capable robotic arms</h2>
        <p>With 7 DOF, Reachy’s arms feature similar dimensions, proportions and movement as in an adult human arm. One arm can lift objects that weight up to 500 grams and manipulate them with pretty good dexterity.</p>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="row justify-content-between">
      

      <div class="col-6">
        <h2>Open source platform</h2>
        <p>Reachy comes with ready-to-use operational environments (like playing tic tac toe for example) but because it can be easily programmed in Python, you’ll be able to build any new applications for your robot.</p>
      </div>

      <div class="col-6">
        <img class="img-fluid mx-auto" src="/img/reachy/reachy_platform.jpg" alt="Arm">
      </div>

    </div>
  </div>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2>Reachy is super versatile.</h2>
        <p>Whether you’re a researcher, academic, creative or an innovation professional, Reachy is a pretty cool solution for you to explore and develop AI and robotics.</p>
        <p>Check out some of the existing applications:</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">

        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="https://www.start-academy.be/assets/uploads/images/public/partners/HOWEST_logo_RGB.jpg" alt="Card image cap">
              <h5 class="card-title">Academics</h5>
              <p class="card-text">Howest is a Belgian technical university. Their ICT Bachelor students use Reachy as a tangible and visual solution to explore AI.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="https://medforall.com/v2/assets/images/logo_black_2x.png" alt="Card image cap">
              <h5 class="card-title">Healthcare</h5>
              <p class="card-text">Medforall is an American company that provides high quality patient care in the State of Ohio and aims to make Reachy a companion dependent home-patients (presenting a physical handicap or cognitive disorders).</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="https://www.ecommercebytes.com/wp-content/uploads/2018/06/Mercari-300x205.jpg" alt="Card image cap">
              <h5 class="card-title">Retail</h5>
              <p class="card-text">Mercari is a Japanese e-commerce company that provides a selling app and marketplace. They use Reachy in their delivery service where the robot can pick up packages and hand them out to customers.</p>
            </div>
          </div>
          
          
        </div>

        
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2>Try it yourself. Right now!</h2>
        <p>Our open source tool will let you send commands using our Python’s API to a 3D model of a full Reachy robot (both arms and a head) and see their effect on the simulated model.</p>
      </div>

    </div>
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <img src="https://cdn-images-1.medium.com/max/600/1*qnrPEeU5FNr35W42h-s6JQ.png" class="img-fluid" alt="">

        <a name="" id="" class="btn btn-link" href="http://playground.pollen-robotics.com/" role="button">Program Reachy</a>
      
      </div>
    </div>
  </div>


<div class="container" id="modules">
    <h2>Modularity to make a robot you will love</h2>
    <p class="lead">Reachy is powered by Luos and comes in modular parts you can combine according to your needs.</p>
    
    <div class="row row-cols-2 row-cols-md-5">
    
    {{ .Scratch.Set "product_list" .Params.related_product_pages }}
    {{ partial "product_grid.html" .}}
    
    </div>
    
</div>

<div id="pack" class="bg-light">
  
  <div class="container">
    <h2>Discover our packs</h2>
    <p class="lead"> Kickstart your project with one of our ready-to-use packs
    </p>
    
    {{ .Scratch.Set "product_list" .Params.pricing }}
    {{partial "compare_product.html" . }}
  </div>


</div>

<div id="documentation">

  <div class="container text-center">
    <h2>Documentation</h2>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam dicta, sequi doloribus odit eum corrupti laudantium aperiam quibusdam quidem sint fugit, vero earum maiores porro dolorem esse? Nobis, pariatur libero.</p>

    <a name="" id="" class="btn btn-link" href="https://pollen-robotics.github.io/reachy-docs/" role="button">Read the doc</a>


  </div>
</div>
  
  <div class="container text-center">
    <h2>Technical specification</h2>

  
    {{.Scratch.Set "technical" .Params.technical}}
    {{partial "technical_info.html" .}}


  </div>
</div>


{{ end }}

{{ define   "custom-scripts"}}
  {{partial "popup_order_form_custom_script.html" .}}
{{end}}