

{{ define "header"}}

<div class="container"> 
    <div class="row pt-5 justify-content-center">
        <div class="col-10 text-center">
            <h1>Let's kickstart your project together</h1>
            <p class="lead mt-2 mb-0">From training to custom development, discover how we can help you.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
          <div class="row pr-5 pl-5">
            <div class="col-3 p-3"><img class="img-fluid mx-auto" src="/img/reachy/applications/street.jpg"> </div>
            <div class="col-3 p-3"><img class="img-fluid mx-auto" src="/img/reachy/applications/coffee.jpg"> </div>
            <div class="col-3 p-3"><img class="img-fluid mx-auto" src="/img/reachy/applications/reception.jpg"> </div>
            <div class="col-3 p-3"><img class="img-fluid mx-auto" src="/img/reachy/applications/covid.jpg"> </div>
        </div>
    </div>
</div>

{{ end }}

{{ define "main" }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 text-center">
            <h2>Have a custom application in mind? We can develop it for you</h2>
            <p class="lead">At Pollen Robotics we love sharing our knowledge and taking new challenges, whether it’s software or hardware development. We can put all our energy and expertise to help you go faster and futher.</p>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 text-center">
            
            <p class="lead"></p>
        </div>
    </div>
</div>
{{ end }}
