

{{ define "header"}}

<div class="container"> 
    <div class="row pt-5 justify-content-center">
        <div class="col-md-10 text-center">
            <h1>Let's kickstart your project together</h1>
            <p class="lead mt-2 mb-0">From training to custom development, discover how we can help you.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
          <div class="row row-cols-2 row-cols-md-4 pr-5 pl-5">
            <div class="col p-3"><img class="img-fluid mx-auto" src="/img/reachy/applications/street.jpg"> </div>
            <div class="col p-3"><img class="img-fluid mx-auto" src="/img/reachy/applications/coffee.jpg"> </div>
            <div class="col p-3"><img class="img-fluid mx-auto" src="/img/reachy/applications/reception.jpg"> </div>
            <div class="col p-3"><img class="img-fluid mx-auto" src="/img/reachy/applications/covid.jpg"> </div>
        </div>
    </div>
</div>

{{ end }}

{{ define "main" }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <h2>Half-day free training</h2>
            <p class="lead">With one Reachy you receive a free-of-charge half-day remote training.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <h2>Advanced training</h2>
            <p class="lead">Want to take the experience further? We provide in-depth training to you and your team: master all available tools to use Reachy to its fullest potential. </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <h2>Customized application development </h2>
            <p class="lead">Have a custom application in mind? We can develop it for you. At Pollen Robotics we love taking new challenges, whether it’s software or hardware development.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <h2>Customized hardware modification</h2>
            <p class="lead">Let’s discuss how to alter Reachy’s body to fit at best with your aims. Discover Reachy’s advanced arm.</p>
        </div>
    </div>
</div>


<div class="container text-center">

    <div class="row justify-content-center">
        <div class="col-md-4">
        <a name="" id="" class="btn btn-link" href="/reachy" role="button">Discover Reachy &#8594;</a>
        </div>

        <div class="col-md-4">
        <a name="" id="" class="btn btn-link" href="mailto:contact@pollen-robotics.com" role="button">Contact us &#8594;</a>
        </div>

    </div>

</div>

{{ end }}


