{{ define "header"}}

<div class="container"> 
  <h1>{{.Title}} </h1>
  <div class="row">
    <div class="col-lg-7 order-lg-0 order-2">
          <span class="lead">
            <p>{{.Params.Description | markdownify}}</p>
          </span>

          <div class="row row-cols-lg-3 row-cols-2 justify-content-center text-center">
            <div class="col">
                <a class="btn btn-link" href="https://forum.pollen-robotics.com/" role="button">Link 1</a>
            </div>
          </div>
    </div> 
    <div class="col-lg-5">
      <img src="{{.Params.image}}" class="img-fluid" alt="">
    </div>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}