
<div class="container">
<hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">An expressive head<span class="text-muted"> for interaction </span></h2>
            <p class="lead">The head is animated by Orbita, a unique technology developed by Pollen Robotics' R&D team. This ball joint actuator allows unpreceded dynamic and multi-directional movement.  With animated antennas, Reachy can convey many emotions to his audience (happy, sad, excited...).</p>
          </div>
          <div class="col-md-5">
            <video autoplay loop class="img-fluid mx-auto">
              <source src="{{ "video/head.mp4" | relURL }}" type="video/mp4">
            </video>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Humanoid arm <span class="text-muted">made for object manipulation.</span></h2>
            <p class="lead">With 7 degrees of movement, Reachy’s arm features similar dimensions, proportions and movements to an adult human arm.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{{ "img/arm.jpg" | relURL }}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 ">
            <h2 class="featurette-heading">Modularity <span class="text-muted">to make the robot you will love</span></h2>
            <p class="lead">Reachy comes in modular parts you can combine according to your needs.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{{ "img/modules.gif" | relURL }}" alt="Generic placeholder image">
          </div>
        </div>

       



        <hr class="featurette-divider">

      </div>