<div class="container">

  <h2 class="sr-only">Features</h2>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://placekitten.com/400/400" class="card-img" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Une Tête Expressive</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://placekitten.com/400/400" class="card-img" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Reachy Modularity</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://placekitten.com/400/400" class="card-img" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Un Bras de Ouf</h3>
        </div>
      </div>
    </div>
  </div>

</div>