<div class="container">


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Expressive head<span class="text-muted"> for interaction </span></h2>
      <p class="lead">The head is animated by Orbita, a technology developed internally. This
        ball joint actuator allows unpreceded dynamic and multi-directional movement.  With animated antennas, Reachy
        can convey many emotions to his audience (happy, sad, excited...).</p>
    </div>
    <div class="col-md-5">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="img-fluid mx-auto">
        <source src="{{ "video/headmotion.mp4" | relURL }}" type="video/mp4">
      </video>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Humanoid arm <span class="text-muted"> <br>for object manipulation.</span></h2>
      <p class="lead">With 7 degrees of freedom, Reachy’s arm features similar dimensions, proportions and movement as in an adult human arm. It can manipulate objects as heavy as 500 grams.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="{{ "img/arm.jpg" | relURL }}"
        alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 ">
      <h2 class="featurette-heading">Modularity <span class="text-muted">to make a robot you will love</span></h2>
      <p class="lead">Reachy is powered by <a href="https://www.luos-robotics.com">Luos</a> and comes in modular parts you can combine according to your needs.</p>
      
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="{{ "img/modules.gif" | relURL }}"
        alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Open source platform<span class="text-muted"> to develop your interactive applications</span></h2>
      <p class="lead">Reachy can be easily programmed in Python and offers ready-to-use operational environments (playing noughts and crosses, serving coffee, playing musical instruments, handing out specific objects,...).   He is also fully customizable with open hardware, software and data!</p>
        <a class="btn btn-dark btn-lg" href="/community" role="button">Join our open community</a>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="{{ "img/reachy_platform.jpg" | relURL }}"
        alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div>