<div class="container-fluid">
    <div class="row">
    <div class="overflow-hidden text-center">
        <h2 class="display-4 font-weight-normal">Reachy pricing options</h2>
        <p class="lead">Reachy is available in 3 configurations
        </p>
        <div class="col-md-7 mx-auto pack-container">
            <img class="img-fluid" src="{{ "img/packs.jpg" | relURL }}" alt="">
            
        </div>
            <a class="btn btn-primary btn-lg" href="/buy" role="button">Order now</a>        
        
    </div>
</div>
</div>
