<div class="container-fluid pack-container">
    <div class="overflow-hidden text-center">
        <h2 class="display-4 font-weight-normal">Kickstart packages</h2>
        <p class="lead">Reachy is available in 3 ready-to-use options starting at 7990€ / $8990 USD.
        </p>
        <a class="btn btn-primary btn-lg" href="/buy" role="button">Pre-order now</a>
    </div>
</div>

<div class="container-fluid pack-container">
    <div class="row">
        <img class="img-fluid" src="{{ "img/packs.jpg" | relURL }}" alt="">

    </div>
</div>
