<div class="container-fluid">
    <div class="overflow-hidden text-center">
        <h2 class="display-4 font-weight-normal">Kickstart packages</h2>
        <p class="lead">Reachy is available in 3 ready-to-use options starting at 7990€ / $8990 USD.
        </p>
        <div class="col-7 mx-auto pack-container">
            <img class="img-fluid" src="{{ "img/packs.jpg" | relURL }}" alt="">
            
        </div>
            <a class="btn btn-primary btn-lg" href="/buy" role="button">Pre-order now</a>        
        
    </div>
</div>
