<div class="container">
    <h3 class="text-center display-5" style="margin-bottom: 3rem;">They talk about Reachy!</h3>
    
    <div class="row">
        <div class="col-md-3">
            
            <a href="https://www.engadget.com/2020/01/05/reachy-is-an-expressive-open-source-robot/"><img class="img-fluid" src="{{ "img/press/engadget.png" | relURL }}" alt="engadget logo">
            <p> <em>The robot, being open-source, is capable of so much more. Developers can use Python to create myriad applications for the system </em> </p>
            </a>
 
        </div>

        <div class="col-md-3">

            <a href="https://techcrunch.com/2020/01/06/pollen-robotics-is-selling-a-17000-robot-torso-for-researchers-and-startups" target="_blank">
                <img class="img-fluid" src="{{ "img/press/techcrunch.png" | relURL }}" alt="tech crunch logo">
            
            <p> <em>CES has never been a great show for serious robotics. Pollen Robotics certainly stands out from that crowd, offering a robotic torso named Reachy.</em> </p>
            </a>
 
        </div>

        <div class="col-md-3">
            
            <a href="https://twitter.com/WIRED/status/1214350939567665155"><img class="img-fluid" src="{{ "img/press/wired.png" | relURL }}" alt="Wired logo">
            <p> <em>Honestly, I just want Reachy at home to play games with. Forget marketing stuff, let's just have robots for games!</em> </p>
            </a>
 
        </div>

        <div class="col-md-3">
            
            <a href="https://www.tomshardware.com/news/reachy-robot"><img class="img-fluid" src="{{ "img/press/tomhardware.png" | relURL }}" alt="Wired logo">
            <p> <em>Raspberry Pi-Powered Reachy Robot Can Grab Almost Anything, Including Your Heart.</em> </p>
            </a>
 
        </div>

    </div>

    
  </div>
