
<div class="container">
    <hr class="featurette-divider">

<div class="container-fluid">
    <div class="row">
    <div class="overflow-hidden text-center">
        <h2 class="display-4 font-weight-normal">Services</h2>
        <p class="lead">Pollen Robotics offers services along its products
            <span class="text-muted"> <br>
            </p>
            <div class="col-md-7 mx-auto pack-container">
                <img class="img-fluid" src="{{ "img/events.jpg" | relURL }}" alt="">
                
                <span class="text-muted"> <br><br>Applications development
            <br>Events
            <br>Specific training</span></h2><br>
            
            <br>Please get in touch - we tailor our offer to your needs.
    
        </div>
        <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact us</a>        
        
    </div>
</div>
</div>

</div>
