<div class="container text-center">
  <h3 class="display-6">Create your own real-world interactive and service applications. Get started right away. </h3>
  <p class="lead">Reachy provides basic modular robot blocks: jump straight into the application you wish, start prototyping.</p>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="{{ "img/research.jpg" | relURL }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Research & Development</h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{{ "img/service.jpg" | relURL }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Service</h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{{ "img/marketing.jpg" | relURL }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Events & Experiences</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>