<div class="container">
  <h2 class="sr-only">Usages</h2>

  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Research</h5>
        <p class="card-text">Research Usages.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Service</h5>
        <p class="card-text">Service Usages.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Marketing</h5>
        <p class="card-text">Marketing Usages.</p>
      </div>
    </div>
  </div>
</div>