/* SOCIAL */

.icon-social-black{
    font-size: 1.5em;
    color: black;
    padding-left: 10px;
  }
  
.icon-social-white{
font-size: 1.5em;
color: white;
padding-left: 10px;
}

a:hover .facebook {
color: #3b5998;
size: 30px;
}

a:hover .linkedin {
color: #0976b4;
}

a:hover .twitter {
color: #55acee;
}

a:hover .youtube {
color: #e52d27;
}

a:hover .github{
color: #555;
}

a:hover .medium{
color: #03a87c;
}


/* COLOR */

.bg-pollen-green{
    background: linear-gradient(rgb(146, 209, 207), rgb(80, 153, 151)); 
    background-color: #77BBB9;
    color: #fff;
}

.bg-pollen-yellow{
    background: linear-gradient(rgb(250, 219, 157),rgb(252, 206, 116)); 
    background-color: #FDD689;
    color: #333;
}

.bg-pollen-dark-blue{
    background: linear-gradient(#457999,#30556d); 
    background-color: #396581;
    color: #fff;
}

.bg-pollen-blue{
    background: linear-gradient(rgb(112, 148, 219),rgb(75, 100, 151)); 
    background-color: #6080BE;
    color: #fff;
}

.bg-pollen-red{
    background: linear-gradient(rgb(253, 147, 137), rgb(221, 114, 104)); 
    background-color: #F1887F;
    color: #fff;
}


/* Banner */

.homepage{
    background: linear-gradient(rgb(137, 209, 207), rgb(75, 146, 144) 70%, #ffffff 70%);
        /* background: linear-gradient(#77BBB9, #fff); */
    background-color: #77BBB9;
}

#header .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

#banner {
    background-size: cover;
    min-height: 30vh;
}


/* Page content */
#content #product-page, #package-page {
    padding-top: 50px;
    padding-bottom: 50px;
}

#content .container, .container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

#content h1, h2, h3 {
    text-align: center;
    margin-bottom: 30px;
}

#content .lead {
    text-align: center;
    margin-bottom: 30px;
}


/* FOOTER */
footer .row{
    padding-top: 50px;
}

footer li{
    list-style:none;
}

footer span{
    display: block;
}

footer hr{
    border-color: whitesmoke;
    width: 50%;
    margin-left: 0px;
}

.reachy_header {
    position: relative;
    background-color:#77BBB9;
    min-height: 40vw;
    max-height: 56vw;
    width: 100vw;
    overflow: hidden;
  }
  
#header .reachy_header > video {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100vw;
    min-height: 56vw;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  /* Modal */

#popup_order .modal-header {
    background-size: contain; 
    background-repeat: no-repeat;
  }

#popup_order p {
    text-align: center;
  }

#content hr {
    width: 75%;
    vertical-align: middle;
    margin-bottom: 10vh;
    margin-top: 10vh;

}