{{ define "main" }}

{{ partial "topbar.html" . }}

<main class="page-content">

  <div class="container-fluid aboutpollen_bg">
    <div class="position-relative overflow-hidden p-md-5 text-center">
      <div class="col-md-5  mx-auto my-5">
        <h1 class="text-white display-2 font-weight-normal">Welcome!</h1>
        <br>
        <h2 class="text-white">We are Pollen Robotics. <br>We make open source robots <br>for real-world applications.
        </h2>
      </div>

    </div>
  </div>

  <div class="container">


    <div class="row featurette">
      <div class="col-md-7">
      </bn><h2 class="featurette-heading">At the start of it all...</h2><br>
        <p class="lead">Pollen robotics was founded in 2016 by Matthieu and Pierre, two former developmental robotics lab researchers from the Flowers team at reknown French research center INRIA.
            <br><br>With more than 10 years of experience in AI and robotics, as well as great successes such as <a href="https://www.youtube.com/watch?v=P15V3UwmXnc"target="_blank">Poppy</a>, in 2019 Pierre and Matthieu created Reachy, an accessible platform for exploring AI and robotics.
            </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{{ "img/logo_square_transparent.png" | relURL }}"
        alt="Generic placeholder image">
      </div>
    </div>
  
</bn><h2 class="featurette-heading">What we stand for</h2><br>
<p class="lead"><br>
  <b>User interaction</b> is at the heart of our design: our robots are able to evolve in a complex and unconstrained world where man/robot understanding and mutual acceptance are necessary
  <br><br>Pretty much everything we make is <b>open-source</b>. Open software, open hardware, open data...We aim to foster knowledge-sharing in the community to kick-start the AI revolution
  <br><br>We bring <b>simple, elegant and user-friendly design</b> to our customers so they stay focused on their very own application of AI robotics
</bn><h2 class="featurette-heading">Who we are today</h2><br>
<p class="lead"><br>
  Pollen Robotics is a team of 4 people, all based in Bordeaux (France) :
<br>
<br><b>Matthieu Lapeyre</b>
<br>Co-founder & CEO
<br>Ph.D. Robotics Design INRIA
<br>
<br><b>Pierre Rouanet</b>
<br>Co-founder & CTO
<br>Ph.D. Artificial Intelligence INRIA
<br>
<br><b>Augustin Crampette</b>
<br>Production & Research engineer
<br>
<br><b>Elsa Kervella</b>
<br>Business Development Manager

    </p>
</div>
</div>

  <div class="container-fluid grey_CTA">
    <div class="position-relative overflow-hidden text-center">
      <div class="col-md-8 mx-auto my-5">
        <h3 class="display-4">Be part of the adventure!</h3>
        <h4 class="display-5  font-weight-light">Sign up on our forum and get access to more information about our technologies!
        </h4>
        <a class="btn btn-primary btn-lg" href="https://forum.pollen-robotics.com" role="button">Join our forum</a>
        <a class="btn btn-outline-dark btn-lg" href="https://github.com/pollen-robotics/" role="button">Check our Github</a>

      </div>
    </div>
  </div>

</main>

<div class="container">
  <div class="row">
    <div class="col">
      {{ partial "footer.html" . }}
    </div>
  </div>
</div>

{{ end }}