{{ define "main" }}

{{ partial "topbar.html" . }}

<main class="page-content">

  <div class="container-fluid grey_CTA">
    <div class="position-relative overflow-hidden text-center">
      <div class="col-md-8 mx-auto my-5">
        <h1 class="display-4">Pre-order your Reachy now!</h1>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <h3 class="display-6">Only 15 Reachy are available for pre-order!</h3>
    <p class="lead">Complete this form to let us know your project and your needs!</p>
    </div>

  <div class="buy-form">
    {{ partial "buy-form.html" . }}
  </div>

</main>

<div class="container">
  <div class="row">
    <div class="col">
      {{ partial "footer.html" . }}
    </div>
  </div>
</div>

{{ end }}

{{ define "custom-scripts" }}
<script>
  (function () {
    const sel = document.getElementById('reachyConfig');
    const imgRoot = "{{ "img/buy/" | relURL }}";

    sel.addEventListener('change', function () {
      const img = document.getElementById('reachy-config-img');
      img.src = `${imgRoot}${this.value}.jpg`;
    })
  }());
</script>
{{ end }}