{{ define "main" }} 

{{ partial "topbar.html" . }}

<main class="page-content">

  <div class="container-fluid ces_bg">
    <div class="position-relative overflow-hidden p-md-5 text-center">
      <div class="col-md-5  mx-auto my-5">
        <h1 class="text-white display-3 font-weight-normal">Hey! We just met at CES!</h1>
        <br>
        <h2 class="text-white display-4">Let's keep in touch!
        </h2>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row" style="margin-top: 5rem;">
      <div class="mx-auto text-center">

        <h3 class="text-center display-6 font-weight-light">
          Please, fill the form below to let us know more about you!
          <br />
          We’ll contact you as soon as possible.
      </h3>
      </div>
    </div>

    <div class="row" style="margin: 5rem 0rem;">
      <div class="col-md-8 mx-auto">

        <form action="https://formspree.io/xjvgnvgw" method="POST">
          <div class="form-group">
            <label>Name</label>
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  name="name"
                  required
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="E-mail"
                  name="email"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label>Company or University name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Company"
                name="company"
                required
              ></input>
            </div>
            <div class="form-group">
              <label for="profil_select">What best describes your work ?</label>
              <select class="form-control" id="profil_select" name="profil" required>
                <option>Consulting</option>
                <option>Developper</option>
                <option>Innovation Manager</option>
                <option>Startup</option>
                <option>Researcher</option>
                <option>Entertainment</option>
                <option>AI & Robotics Enthousiast</option>
                <option>Student</option>
              </select>
            </div>
            <div class="form-group">
              <label>What project would you like to do with Reachy?</label>
              <textarea
                class="form-control"
                rows="5"
                name="message"
                required
              ></textarea>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Send</button>
          </div>
        </form>

      </div>

    </div>


  </div>
    
</main>

<div class="container">
  <div class="row">
    <div class="col">
      {{ partial "footer.html" . }}
    </div>
  </div>
</div>

{{ end }}
