{{ define "main" }}

{{ partial "topbar.html" . }}

<main class="page-content">

  <div class="container-fluid community_bg">
    <div class="position-relative overflow-hidden p-md-5 text-center">
      <div class="col-md-5  mx-auto my-5">
        <h1 class="text-white display-2 font-weight-normal">Join our community!</h1>
        <br>
        <h2 class="text-white">We are building interactive robots for the real world!
        </h2>
      </div>

    </div>
  </div>

  <div class="container">


    <div class="row featurette">
      <div class="col-md-7">
      </bn><h2 class="featurette-heading">We are opening a new community</h2>
        <p class="lead">We believe that new human/robot interactions should be developed in a
          transparent and collaborative manner with researchers, artists, and end users in
          general. This is why our tools and technologies are open source. Our robots can be modified,
          personalized and analyzed without restriction.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{{ "img/pollen_community.png" | relURL }}"
        alt="Generic placeholder image">
      </div>
    </div>

</div>

  <div class="container-fluid grey_CTA">
    <div class="position-relative overflow-hidden text-center">
      <div class="col-md-8 mx-auto my-5">
        <h3 class="display-4">Be part of the adventure!</h3>
        <h4 class="display-5  font-weight-light">Sign up on our forum and get access to more information about our technologies!
        </h4>
        <a class="btn btn-primary btn-lg" href="https://forum.pollen-robotics.com" role="button">Join our forum</a>
        <a class="btn btn-outline-dark btn-lg" href="https://github.com/pollen-robotics/" role="button">Check our Github</a>

      </div>
    </div>
  </div>

</main>

<div class="container">
  <div class="row">
    <div class="col">
      {{ partial "footer.html" . }}
    </div>
  </div>
</div>

{{ end }}