{{ define "main" }}

{{ partial "topbar.html" . }}

<main class="page-content">
  
  <div class="container-fluid buy_CTA">
    <div class="position-relative overflow-hidden p-md-5 text-center">
      <div class="col-md-8  mx-auto my-5">
        <h1 class="text-white display-2 font-weight-normal">Join Pollen Robotics!</h1>
        <br>
        <h2 class="text-white">We are looking for a Business Developper.
        </h2>
      </div>
      
    </div>
  </div>
  
  <div class="container">
    
    <div class="row featurette align-items-end">
      <div class="col-md-4">
        <img class="featurette-image img-fluid mx-auto" src="{{ "img/logo_square_transparent.png" | relURL }}"
        alt="Generic placeholder image">
      </div>

      <div class="col-md-8">
        <h2 class="featurette-heading">Hi there!</h2>
        
        <p>We are Pollen Robotics, we are a team of 4 people located in Bordeaux and we specialize in open-source AI and robotics.
        </p>
        <p>
          
          Back in 2013, we started with Poppy, the first 3D printed open-source humanoid robot and since then, we have been dedicated to creating open-source, open science and open data products. We work with scientists, artists and innovators to explore usages and make the robotics revolution an opportunity for everyone.
        </p>
        <p> Our newest addition is Reachy, an expressive open source humanoid robot that’s awesome for human/robot interaction and object manipulation. It is built with prepackaged AI and modular robotics that allow you to kickstart any real-world application 
        </p>
        
      </div>

    </div>
    
    <div class="row featurette justify-content-center my-5">

      <div class="col-md-8">
        <h2 class="featurette-heading my-4 text-center" >Help us develop our business</h2>

        <p>Our newest addition is Reachy, an expressive open source humanoid robot that’s awesome for human/robot interaction and object manipulation. It is built with prepackaged AI and modular robotics that allow you to kickstart any real-world application - Check it out here 
        </p>
        <p>  Reachy was released in January 2020 at CES Las Vegas - this is the one product we’re pushing at the moment, and we need a new business developer in our team to access international markets through an outbound strategy, with a strong focus on academics, healthcare and retail.
        </p>

        <img class="featurette-image img-fluid mx-auto my-4" src="{{ "img/flower_reachy.jpg" | relURL }}"
          alt="Generic placeholder image">

        <p> Reachy is a pretty unique AI/robotics solution and so are the markets it addresses. At Pollen we strive to bring a new vision on how robots can change the world: we make them accessible to as many as possible and we consider every customer as a new collaborator. Our goal is simple, to make the robotics revolution happen for everyone. We want you to be a co-pioneer and play a key role in our success through direct and indirect sale channels.
        </p>

      </div>
    </div>

    <div class="row featurette justify-content-center my-5">

      <div class="col-md-8">
        <h2 class="featurette-heading my-4 text-center" >About you</h2>

        <p>If you work with us, you will love:</p>

        <ul>
          <li>finding the right customers/ distribution partners and building great relationships with them</li>
          <li>creating awareness around our brand through online campaigns</li>
          <li>travelling to introduce Reachy at international conferences and events</li>
          <li>digging deep into the world of artificial intelligence and robotics if you want to</li>
          <li>working autonomously but also being close to the rest of the team, depending on the stuff you’re dealing with</li>
          <li>thriving in a very time-flexible, open-minded environment</li>
          <li>enjoying regular trips to the beach (most of us are obsessed with surfing)</li>
        </ul>

        <p>In exchange, we expect you to: </p>

        <ul>
          <li>have a few years of international experience in sales/marketing/communications positions</li>
          <li>have a basic knowledge of new technology dynamics </li>
          <li>speak/write spotless professional English and French (any more languages? even better!)</li>
          <li>be familiar with CRM (Hubspot), online advertising and social media</li>
          <li>be able to flourish with minimal guidance and handle uncertainty</li>
          <li>be creative and proactive in your actions to take the business further</li>

        </ul>

      </div>
    </div>

    <div class="row featurette justify-content-center my-5">

      <div class="col-md-8">
        <h2 class="featurette-heading my-4 text-center" >About Us</h2>

        <p>Our vision is that a company should work for and benefit the employees and customers, not the other way around. We strongly value honesty, integrity, humility. We encourage flexible working hours and some remote working because we believe we’re our most productive when we choose how and when we work. We believe that treating people right is the only good way to do business and generally to make good things happen in the world.
        </p>
        <p>Our studio is located in les Chartrons neighborhood (with lots of great restaurants and cafés around) and it is filled with light, cool gadgets and great people. Oh, and there’s Marcel, a very affectionate basset hound who loves to rummage through the office trash and take long naps behind the window. 
        </p>
        <p> So get in touch, we look forward to meeting you. Feel free to apply in any format at jobs@pollen-robotics.com !</p>

        <ul>
          <li> <strong>Full-time, long-term contract (CDI)</strong> </li>
          <li> <strong>Position available from June 2020</strong> </li>
          <li> <strong>Compensation: 32k€/year gross + bonuses shared among team. The whole team is on the same income level. Salaries are reevaluated after a year according to company turnover. Possibility of owning shares in the company.</strong> </li>
        </ul>

        <p class="lead text-right m-5">The team @ Pollen Robotics</p>


      </div>
    </div>


  </div>

  
</main>

<div class="container">
  <div class="row">
    <div class="col">
      {{ partial "footer.html" . }}
    </div>
  </div>
</div>

{{ end }}