<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-6">
      <form action="https://formspree.io/xgeorwgq" method="POST">
        <div class="form-group">
          <label>Your name</label>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" name="firstName" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" name="lastName" required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
        </div>

        <div class="form-group">
          <label>Country</label>
          {{ partial "form-country-select.html" . }}
        </div>

        <div class="form-group">
          <label for="reachyConfig">Configure your Reachy</label>
          <select id="reachyConfig" class="form-control" name="kit">
            {{/*  <optgroup label="Reachy">  */}}
              <option value="reachy-basic-kit">Reachy basic kit - single arm (7990€)</option>
              <option value="reachy-expressive-kit" selected>Reachy expressive kit - single arm (9990€)</option>
              <option value="reachy-advanced">Reachy Advanced - double arm (15490€)</option>
            {{/*  </optgroup>
            <optgroup label="Reachy performance">
              <option value="reachy-preformance-basic">Reachy basic kit - single arm (9490€)</option>
              <option value="reachy-preformance-expressive">Reachy expressive kit - single arm (11490€)</option>
              <option value="reachy-preformance-advanced">Reachy Advanced - double arm (18990€)</option>
            </optgroup>
            <optgroup label="Separate modules">
              <option value="modules-arm">Arm (5990€)</option>
              <option value="modules-arm-performance">Arm performance (7990€)</option>
              <option value="modules-gripper-force">Gripper force (750€)</option>
              <option value="modules-chest">Chest (1990€)</option>
              <option value="modules-expressive-head">Expressive head (2990€)</option>
            </optgroup>  */}}
          </select>
        </div>

        <div class="row-sm">
          <img id="reachy-config-img" src="{{ "img/buy/reachy-expressive-kit.png" | relURL }}" class="card-img" alt="">
        </div>
        <div class="row-sm">
          <label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos? Eum aperiam tempora
            mollitia blanditiis, quaerat laudantium quod quisquam voluptas facere? Rem culpa necessitatibus
            repellat veniam voluptas debitis minima enim!</label>
        </div>

        <div class="form-group">
          <label>Any specific needs, let us know what you would like.</label>
          <textarea class="form-control" rows="3" name="specifics"></textarea>
        </div>

        <div class="form-group">
          <label>Tell us more about your application (this will help us better advise you with what you really
            need).</label>
          <textarea class="form-control" rows="3" name="usecase"></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Submit your request</button>
        </div>
      </form>

    </div>
  </div>
</div>