<nav class="site-nav navbar fixed-top navbar-expand-lg navbar-light bg-light" aria-label="Site Navigation">
  <a class="navbar-brand" href="{{ .Site.BaseURL }}" aria-label="Go to index">
    <img src="{{ "img/logo.png" | relURL }}" width="268" height="150" class="site-logo d-inline-block align-top"
      alt="{{ .Site.Params.Brand }}">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <section class="collapse navbar-collapse" id="navbarToggler" aria-label="Site Pages">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Reachy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Buy</a>
      </li>
    </ul>
  </section>
</nav>