{{ define "main" }}

{{ partial "topbar.html" . }}

<main class="page-content">

  <div class="container-fluid header_bg">
    <div class="position-relative overflow-hidden p-md-5 text-center">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="text-white display-3 font-weight-normal">Meet Reachy!</h1>
        <p class="text-white lead font-weight-bold">Open source interactive robot to explore real-world applications!
        </p>
        <button type="button" class="btn btn-light btn-lg" href="#">Discover</button>
        <button type="button" class="btn btn-dark btn-lg" href="/buy">Pre-order</button>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center">
    <div class="position-relative overflow-hidden p-md-5 text-center">
      <h2 class="display-4">A unique open prototyping platform</h2>
      <p class="lead">Reachy makes AI & robotics accessible to researchers, innovation professionals and creatives.</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_OqKfFv8dyo" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="usages">
    {{ partial "index/usages.html" .}}
  </div>

  <div class="features">
    {{ partial "index/features.html" }}
  </div>

</main>

<div class="container">
  <div class="row">
    <div class="col">
      {{ partial "footer.html" . }}
    </div>
  </div>
</div>

{{ end }}