{{ define "main" }}

<style>
  body,
  html {
    height: 100%;
    margin: 0;
  }

  .bg {
    /* The image used */
    background-image: url('/img/coming_soon.jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-text {
    font-family: 'Karla', Arial, sans-serif;
    font-size: 30px;
    color: #ffffff;
  }
  .gdpr_consent,
  .secondary-text {
    font-family: 'Karla', Arial, sans-serif;
    font-size: 20px;
    color: #ffffff;
  }
  .anti-spam {
    font-family: 'Karla', Arial, sans-serif;
    font-size: 13px;
    color: #bbbbbb;
  }
  .content {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.33);
    background-color: rgba(0, 0, 0, 0.55);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .content input {
    text-align: center;
  }
  .content input[type='text'] {
    font-size: 13px;
    color: #ffffff;
    border: 1px solid #eeeeee;
  }
  .content input[type='text']:focus {
    border: 1px solid #bbbbbb;
  }
  .content input[type='submit'] {
    font-size: 12px;
    color: #ffffff;
    background: #0f0f0f;
    border: 1px solid #0f0f0f;
  }
  .content input[type='submit']:hover,
  .content input[type='submit']:focus {
    background: #0a0a0a;
    border: 1px solid #0a0a0a;
  }
  .signals-alert-success {
    background: #90c695;
    color: #ffffff;
  }
  .signals-alert-danger {
    background: #e08283;
    color: #ffffff;
  }
  ::-webkit-input-placeholder {
    color: #dedede;
  }
  ::-moz-placeholder {
    color: #dedede;
  }
  :-ms-input-placeholder {
    color: #dedede;
  }
  :-moz-placeholder {
    color: #dedede;
  }
  .content {
    background-color: rgba(0, 0, 0, 0.25);
  }
</style>

<div class="bg">
  <div class="maintenance-mode">
    <div class="s-container">
      <div class="content">
        <div class="logo-container">
          <img
            title="Pollen Robotics"
            alt="Pollen Robotics"
            src="/img/logo-transp.png"
            class="logo"
          />
        </div>
        <h1 class="header-text">
          Hello, I'm Reachy !<br />
          <br />
        </h1>
        <p class="secondary-text">
          Kickstart your interactive application with an intelligent, funny, and
          open source humanoid robot !<br />
          <br />
          <b> Exclusive Release  on Eureka Park @ CES 2020! </b><br />
          <br />
          <i>
            While we are updating our website you can contact us by e-mail
            contact@pollen-robotics.com</i
          >
        </p>
      </div>
    </div>
  </div>
</div>

{{ end }}
