{{ define "styles" }}
<link rel="stylesheet" href="{{ "css/homepage.css" | relURL }}">
{{end }}

{{ define "header"}}

<div class="container">
    <!-- <div class="d-none d-md-block">
        <div class="row justify-content-end px-0 mx-0">
            <ul class="list-group list-group-horizontal social">
                {{ range .Site.Data.social.item }}                
                <li class="list-group-item border-0 p-0 mb-2">
                    <a href="{{.url}}" target="_blank" ><i class="fab fa-{{.site}} icon-social-black {{.site}}"></i></a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div> -->

    
    <div class="row">
        <div class="col-lg-9">
            <h1>{{.Title}}</h1>
            <p class="lead">{{.Params.Description}}</p>
        </div>
    </div>
    
    
    <div class="row justify-content-center my-md-3">
        <div class="col-lg-8">
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="img-fluid mx-auto shadow">
                <source src="{{ "video/pollen-interactive-robots.mp4" | relURL }}" type="video/mp4">
                </video>
            </div>
            
        </div>
        
        
        <div class="text-center">
            <a class="btn btn-link" href="/reachy" role="button">Discover Reachy &#8594;</a>
        </div>
        
    </div>
</div>

{{ end }}


{{ define "main" }}

<hr>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h2>We build accessible & open source technologies for the real world!</h2>
            
            <p>For new technology to have a positive impact transparency and cooperation matter. Back in 2013, we started with <a href="http://www.poppy-project.org" target="_blank">Poppy</a>, the first 3D printed open-source humanoid robot and since then we have been dedicated to <strong> creating open source, open science and open data products</strong>.</p>
            <p>We work with scientists, artists and innovators to explore usages and make the robotic revolution an available opportunity for everyone.</p>
    
    
        <div class="text-center">
            <a class="btn btn-link" href="/opensource" role="button">Check our open source projects &#8594;</a>
        </div>
    </div> 
</div> 
    
</div>



<div class="container-fluid">
    <div class="row homepage-reachy-section justify-content-between align-items-end">
        
        <div class="col-md-6 col-lg-5 col-xl-5 offset-xl-1 homepage-reachy-text">
            <h2>Meet Reachy,<br/> our crack-a-smile <br/> open-source robot <br/>  <span class="lead">Starting at 6 000€</span></h2>
            
            <p>Reachy is awesome when it comes to interacting with people and manipulating objects.
                It is built with prepackaged AI and modular robotics so you can kickstart any real-world application.</p>

            
            <a class="btn btn-link" href="/reachy" role="button">Discover Reachy &#8594;</a>
        </div>

        <div class="col-md-6 col-lg-7 col-xl-5">
            <img src="/img/reachy/homepage_feature.png" class="img-fluid" alt="Reachy robot say hello">
        </div>
    </div>

    <div class="row homepage-reachy-press justify-content-center" >

        <div class="col-xl-1 offset-1 homepage-press">
        </div>
        
        <div class="col-xl-10 col-lg-12 offset-lg-0 offset-xl-0 homepage-press d-none d-md-block pt-5 pb-5">
            <h3>If they say so, it must be true, right?</h3>
            <div class="card-deck mt-5">
                {{range first 5 $.Site.Data.press.press }}
                <div class="card">
                    <img class="card-img-top" src="{{ .image }}" alt="{{.journal}} logo">
                    <div class="card-body">
                      <p class="card-text"><em>{{.comment}}</em></p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-link" href="{{.source}}" role="button" target="_blank">read more &#8599;</a>
                    </div>
                </div>
                {{end}}
            </div>
        </div>

    </div> 
    
</div>


<div class="container">
    
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Got an idea?<br>Let’s make it happen.<br>Together.</h2>
            
            <p>Whether you want to turn Reachy into the next Masterchef or you want to make it to the moon, we would love to hear about your project.</p>
                <p>
                    We train and support you in getting started with the robot and benefiting from its full potential.

                    We develop custom applications for Reachy to fit in the environment you want to test.
                </p>
            
            <div class="text-center">
                <a class="btn btn-link" href="/reachy" role="button">Discover our services &#8594;</a>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid text-center p-0">
    <img src="/img/company/workshop.jpg" class="img-fluid" alt="Augustin Crampette producting a reachy robot">
</div>

<div class="container">
    <div class="row align-items-center">

        <div class="col-lg-6 order-1">
            <img src="/img/company/team/team.jpg" class="img-fluid" alt="Pollen company members">
        </div>

        <div class="col-lg-6 order-0 pr-5">
            <h2>Meet the people behind the robots</h2>
            
            <p>It’s not just about good looks, it’s also about the spirit. Our vision is that the company should work for and benefit the people and the world, not the other way around.</p> 
            <p>We value honesty, integrity, humility and we believe that treating people right is the only good way to do business.
            </p>

            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-link" href="/about" role="button">About us &#8594;</a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-link" href="mailto:contact@pollen-robotics.com" role="button">Contact us &#8594;</a>
                </div>
            </div> 

        </div>
    
    </div>
   
    
</div>


<hr>

<div class="container">
    <div class="row justify-content-center homepage-blog">
        <div class="col-12">
            <h2>Discover our latest articles</h2>
            <div class="card-deck">
                    {{range first 2 $.Site.Data.blog.blog }}
                    <div class="card">
                        <img class="card-img-top" src="{{ .image }}" alt="{{.journal}} logo">
                        <div class="card-body">
                            <h3 class="card-title">{{.title}}</h3>
                            <p class="card-text lead">{{.extract}}</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-link" href="{{.source}}" target="_blank" role="button">read the full article &#8599;</a>
                        </div>
                    </div>
                    {{end}}
            </div>
            <div class="card-deck pt-5">
                {{range last 2 $.Site.Data.blog.blog }}
                <div class="card">
                    <img class="card-img-top" src="{{ .image }}" alt="{{.journal}} logo">
                    <div class="card-body">
                        <h3 class="card-title">{{.title}}</h3>
                        <p class="card-text lead">{{.extract}}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-link" href="{{.source}}" target="_blank" role="button">read the full article &#8599;</a>
                    </div>
                </div>
                {{end}}
        </div>
        </div>
    </div>
    
</div>


{{ end }}

