{{ define "header"}}


<div class="container-fluid homepage text-white">
  
  <div class="row justify-content-end">
    <div class="col-5 pt-5">
      <p class="text-uppercase">We are pollen robotics</p>
      <h1>{{.Title}}</h1>
      <p class="lead">{{.Params.Description}}</p>
    </div>
    <div class="col-6 px-0">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="img-fluid mx-auto shadow">
        <source src="{{ "video/pollen-interactive-robots.mp4" | relURL }}" type="video/mp4">
      </video>
    </div>
    
  </div>
  
</div>
{{ end }}


{{ define "main" }}
<div class="container-fluid">
  <div class="row justify-content-center">
<div class="col-8">

  {{ .Content }}
</div>
  </div>
      </div>
    </div>
    
</div>
{{ end }}